<div class="one_article">
  <img class="thumbnail" src="<%= article.thumbnail %>" />
  <span class="name">
    <a class="link" href="http://<%= article.link %>" >
      <%= article.name %>
    </a>
  </span>
</div>