<div class="one_article">
  <img class="thumbnail" src="<%= article.thumbnail %>" />
  <span class="name">
    <%= article.name %>
  </span>
  <span class="link">
    <%= article.link %>
  </span>
</div>