<div class="participant_media_widget" >
  <a class="lightbox" href="/articles">see articles</a>
  <a class="lightbox" href="/images/thumbnails/1.png">image</a>
</div>

<script type="text/javascript">
$(function() {
  $('a.lightbox').lightBox(); // Select all links with lightbox class
});
</script>